body {
  font-family: "Avenir Next";
}
.header {
  background-color: #87CEFA;
  color: 	#FF0000;
  height: 90px;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list li {
  float: left;
  padding: 33px 20px;
}
.kageyama{
  text-align: center;
  font-size: 60px;
  color: #BDB76B;
}
.jikosyoukai{
  text-align: center;
  font-size: 30px;
  color; ï¼ƒ000000
}
.tekitou{
font-size: 25px;
}
